/*------------------------------
   Page Title Styles
--------------------------------*/
header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #6f2bd9;
  color: white;
}

/*------------------------------
   Main Container
--------------------------------*/
main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  font-family: Arial, sans-serif;
}

/*------------------------------
   Section Styles
--------------------------------*/
section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #444;
  padding-bottom: 0.25rem;
  color: #222;
}
section {
  margin-bottom: 2.5rem; /* Bottom spacing */
}

/*------------------------------
   Table Styles
--------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
thead {
  background-color: #6f2bd9;
  color: white;
}
th, td {
  padding: 0.75rem, 1rem;
  text-align: left;
  border: 1px solid #ccc;
  text-align: center;
}
tbody tr:nth-child(even) { /* Alternating row colours */
  background-color: #f8f9fa;
}
tbody tr:hover { /* Highlight hover */
  background-color: #6e2bd947;
}

/*------------------------------
   Responsive Styles
--------------------------------*/
@media (max-width: 768px) {
  th, td {
    font-size: 0.85rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.6rem;
    text-align: center;
  }

  section h2 {
    font-size: 1.2rem;
  }

  main {
    padding: 1rem;
  }
}